<div class="container">

    <header>
        <a href="/">
            <img src="../../assets/chernobyl-radiation-warning-icon-sticker-removebg-preview.png" alt="icon" class="icon">
            <h1>Chernobyl Nuclear Accident</h1>
        </a>
        <nav>
            <ul>
              <li><a href="#about">About</a></li>
              <li><a href="#map">Map</a></li>
              <li><a href="#consequences">Consequences</a></li>
            </ul>
          </nav>
    </header>

        <section class="hero">
            <video autoplay loop muted>
                <source src="../../assets/video/Chernobyl. Helicopter crashes..mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>              
            <h2 id="about">The Chernobyl accident: The nuclear tragedy that changed the world</h2>
            <p>
                <strong>On April 26, 1986</strong>, one of the biggest nuclear catastrophes in history shook the world: 
                Reactor Number 4 of the Chernobyl nuclear power plant, located in Ukraine, then part of the Soviet Union, exploded during a safety test. 
                This tragic incident released a massive amount of radiation into the environment, severely affecting not only the nearby region, but countries throughout Europe and beyond.
            </p>
        </section>

        <section id="map" class="map">
            <h2>Chernobyl Accident Location</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15460.336076940295!2d30.086378073469895!3d51.38721217256019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472a7da75da15329%3A0x90fa0ec0023e401a!2sCentral%20nuclear%20de%20Chern%C3%B3byl!5e0!3m2!1ses!2sar!4v1728872780784!5m2!1ses!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <section id="consequences" class="consequences">
            <h2>Consequences of the Accident</h2>
            <p>
                The explosion at Chernobyl released <strong>radiation 400 times greater than that of Hiroshima</strong>, contaminating much of Europe. 
                The nearby city of <strong>Pripyat was evacuated, becoming a ghost town.</strong> 
                More than 100,000 people were relocated, and the health impact was devastating: thousands of workers, known as <strong>“liquidators,” suffered serious illnesses such as cancer.</strong>
                The disaster also hastened the fall of the Soviet Union and changed the world's perception of nuclear power, generating new regulations and a strong anti-nuclear movement.
            </p>
            <div class="responsive-grid">
                <img src="../../assets/consequences.jpg" alt="img">
                <img src="../../assets/UA-Chernobyl-Pripyat-Town-Sign.jpg" alt="img">
                <img src="../../assets/chernobyl-city-tour-firefighter.jpg" alt="img">
                <img src="../../assets/ucrania-oblast-de-kiev-pripyat-interior-de-un-hospital-abandonado-desde-hace-mucho-tiempo-SMAF02025.jpg" alt="img">
            </div>
        </section>

        <section class="video">
            <h2>The scariest phone call of the 20th century</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ttpzZXDNKQ8?si=m2hV0NhuBrJMzN2J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>


    
    <footer>
        <p>&copy; 2024 All rights reserved. Robertino Lirusso</p>
    </footer>


</div>